
#leftText {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 340%; 
    margin-left: 100px; 
    text-align: left;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 30px;
}